fastapi==0.115.12
uvicorn[standard]==0.34.2
streamlit==1.44.1
transformers==4.51.3
sentence-transformers==4.1.0
torch==2.6.0
hnswlib==0.8.0
pandas==2.2.3
numpy==1.26.4
jsonlines==4.0.0
tqdm==4.67.1
scikit-learn==1.6.1
rank-bm25==0.2.2
python-dotenv==1.1.0
pydantic==2.11.3
pydantic-settings==2.8.1
IndicTransToolkit==1.1.1
matplotlib==3.10.1
httpx==0.28.1
pytest==8.3.5
